# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Device Tree Blobs
*.dtb
*.dtbo

# Buildroot/Kernel artifacts
.config
.config.old
built-in.a
modules.order
Module.symvers

# Editor/OS temp files
.vscode/
*.swp
.DS_Store

#Ignore heavy linux and buildroot files/folders
/temp_modules/
/phase-2-bsp/05-kernel/linux/
/phase-2-bsp/05-kernel/linux/built_log.txt
/phase-2-bsp/06-Buildroot/buildroot/
/phase-2-bsp/06-Buildroot/buildroot/output/
/phase-2-bsp/06-Buildroot/buildroot/dl/
/phase-2-bsp/06-Buildroot/buildroot/.git/